.flex-container {
	margin-top: 40px;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}
.flex-container > div {
	-background-color: #f1f1f1;	
	width: 14.285714%;
	margin: 0px;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	color: #999;
}
.flex-container label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 0px;
	line-height: 40px;
	border: 2px solid #999;
	border-right: none;
	user-select: none;
	width:100%;
}
.flex-container .form_radio_group-item:first-child label {
	border-radius: 6px 0 0 6px;
}
.flex-container .form_radio_group-item:last-child label {
	border-radius: 0 6px 6px 0;
	border-right: 2px solid #999; 
}
.flex-container input[type=radio] {
	display: none;
}
.flex-container input[type=radio]:checked + label {
	color: #eeee10;
	background: #AA6040; 
}
.flex-container label:hover {
	color: #eeee10;
}
.flex-container input[type=radio]:disabled + label {
	-background: #efefef;
	color: #666;
}